## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'STATUS', 'SPECIAL_CONSIDERATIONS','ASK_AMT'])
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,1
...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,0,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,0,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,0,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,0,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1M-5M,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
IS_SUCCESSFUL           2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
type_counts = application_df['APPLICATION_TYPE'].value_counts()
type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Look at NAME counts for binning
counts_A = application_df['NAME'].value_counts()
counts_A

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [8]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_replace`
names_replace = list(counts_A[counts_A<5].index)
names_replace


# Replace in dataframe
for name in names_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")
# Check to make sure replacement was successful
application_df['NAME'].value_counts()

NAME
Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: count, Length: 403, dtype: int64

In [9]:

# Look at APPLICATION TYPE counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
countsbinning = application_df['CLASSIFICATION'].value_counts()

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = countsbinning[countsbinning>1]
countsclassification

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (countsbinning[countsbinning<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

# drop 'IS SUCCESSFUL'
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# (SECOND ATTEMPT - ACCURACY 72%)
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_total = len(X_train[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = input_features_total, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                         â”ƒ Output Shape                â”ƒ         Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense (Dense)                        â”‚ (None, 10)                  â”‚           4,490 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_1 (Dense)                      â”‚ (None, 10)                  â”‚             110 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_2 (Dense)                      â”‚ (None, 1)                   â”‚              11 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 4,611 (18.01 KB)

 Trainable params: 4,611 (18.01 KB)

 Non-trainable params: 0 (0.00 B)

In [18]:
# Compile the model (SECOND ATTEMPT)
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model (SECOND ATTEMPT)
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.6953 - loss: 0.6298 - val_accuracy: 0.7883 - val_loss: 0.4551
Epoch 2/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7854 - loss: 0.4550 - val_accuracy: 0.7953 - val_loss: 0.4331
Epoch 3/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7934 - loss: 0.4314 - val_accuracy: 0.8010 - val_loss: 0.4297
Epoch 4/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7973 - loss: 0.4203 - val_accuracy: 0.8031 - val_loss: 0.4296
Epoch 5/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7968 - loss: 0.4256 - val_accuracy: 0.8038 - val_loss: 0.4263
Epoch 6/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8020 - loss: 0.4176 - val_accuracy: 0.8018 - val_loss: 0.4298
Epoch 7/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8037 - loss: 0.4151 - val_accuracy: 0.8020 - val_loss: 0.4306
Epoch 8/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7953 - loss: 0.4213 - val_accuracy: 0.8012 - val_loss: 0.4306
Epoch 9/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8007 - loss: 0.4182 - val_accuracy: 0.8036 - val_loss: 0.4316
Epoch 10/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7980 - loss: 0.4201 - val_accuracy: 0.8015 - val_loss: 0.4320
Epoch 11/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7955 - loss: 0.4238 - val_accuracy: 0.8025 - val_loss: 0.4299
Epoch 12/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8005 - loss: 0.4156 - val_accuracy: 0.8028 - val_loss: 0.4313
Epoch 13/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7972 - loss: 0.4203 - val_accuracy: 0.8031 - val_loss: 0.4368
Epoch 14/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8047 - loss: 0.4129 - val_accuracy: 0.8031 - val_loss: 0.4352
Epoch 15/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7993 - loss: 0.4166 - val_accuracy: 0.8012 - val_loss: 0.4376
Epoch 16/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7993 - loss: 0.4155 - val_accuracy: 0.8033 - val_loss: 0.4392
Epoch 17/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7994 - loss: 0.4162 - val_accuracy: 0.8007 - val_loss: 0.4383
Epoch 18/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.8029 - loss: 0.4130 - val_accuracy: 0.8025 - val_loss: 0.4386
Epoch 19/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7980 - loss: 0.4174 - val_accuracy: 0.8044 - val_loss: 0.4376
Epoch 20/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.8014 - loss: 0.4160 - val_accuracy: 0.8031 - val_loss: 0.4361
Epoch 21/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7975 - loss: 0.4174 - val_accuracy: 0.8033 - val_loss: 0.4373
Epoch 22/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8029 - loss: 0.4119 - val_accuracy: 0.8010 - val_loss: 0.4406
Epoch 23/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7993 - loss: 0.4176 - val_accuracy: 0.8025 - val_loss: 0.4397
Epoch 24/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.8049 - loss: 0.4076 - val_accuracy: 0.8033 - val_loss: 0.4379
Epoch 25/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8053 - loss: 0.4060 - val_accuracy: 0.8025 - val_loss: 0.4386
Epoch 26/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8034 - loss: 0.4102 - val_accuracy: 0.8038 - val_loss: 0.4393
Epoch 27/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7997 - loss: 0.4139 - val_accuracy: 0.8023 - val_loss: 0.4397
Epoch 28/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8014 - loss: 0.4159 - val_accuracy: 0.8038 - val_loss: 0.4401
Epoch 29/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.8009 - loss: 0.4136 - val_accuracy: 0.8041 - val_loss: 0.4375
Epoch 30/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8015 - loss: 0.4124 - val_accuracy: 0.8025 - val_loss: 0.4398
Epoch 31/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8052 - loss: 0.4088 - val_accuracy: 0.8044 - val_loss: 0.4419
Epoch 32/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8079 - loss: 0.4043 - val_accuracy: 0.8010 - val_loss: 0.4408
Epoch 33/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8014 - loss: 0.4141 - val_accuracy: 0.8010 - val_loss: 0.4397
Epoch 34/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.8001 - loss: 0.4159 - val_accuracy: 0.8023 - val_loss: 0.4426
Epoch 35/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8040 - loss: 0.4087 - val_accuracy: 0.8049 - val_loss: 0.4401
Epoch 36/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8048 - loss: 0.4099 - val_accuracy: 0.8038 - val_loss: 0.4398
Epoch 37/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.8021 - loss: 0.4094 - val_accuracy: 0.8033 - val_loss: 0.4381
Epoch 38/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8081 - loss: 0.4045 - val_accuracy: 0.8038 - val_loss: 0.4407
Epoch 39/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8028 - loss: 0.4095 - val_accuracy: 0.8046 - val_loss: 0.4390
Epoch 40/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8059 - loss: 0.4074 - val_accuracy: 0.8031 - val_loss: 0.4426
Epoch 41/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8035 - loss: 0.4098 - val_accuracy: 0.8010 - val_loss: 0.4395
Epoch 42/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8056 - loss: 0.4048 - val_accuracy: 0.8028 - val_loss: 0.4408
Epoch 43/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.8068 - loss: 0.4060 - val_accuracy: 0.8036 - val_loss: 0.4395
Epoch 44/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8037 - loss: 0.4094 - val_accuracy: 0.8023 - val_loss: 0.4387
Epoch 45/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8020 - loss: 0.4088 - val_accuracy: 0.8012 - val_loss: 0.4425
Epoch 46/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.8073 - loss: 0.4072 - val_accuracy: 0.8010 - val_loss: 0.4453
Epoch 47/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8032 - loss: 0.4106 - val_accuracy: 0.8023 - val_loss: 0.4448
Epoch 48/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8068 - loss: 0.4072 - val_accuracy: 0.8010 - val_loss: 0.4421
Epoch 49/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8054 - loss: 0.4051 - val_accuracy: 0.8028 - val_loss: 0.4410
Epoch 50/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8043 - loss: 0.4066 - val_accuracy: 0.8041 - val_loss: 0.4420
Epoch 51/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.8074 - loss: 0.4059 - val_accuracy: 0.8033 - val_loss: 0.4426
Epoch 52/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 5ms/step - accuracy: 0.8060 - loss: 0.4057 - val_accuracy: 0.8012 - val_loss: 0.4409
Epoch 53/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 5s 4ms/step - accuracy: 0.8074 - loss: 0.4031 - val_accuracy: 0.8041 - val_loss: 0.4420
Epoch 54/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 2ms/step - accuracy: 0.8035 - loss: 0.4077 - val_accuracy: 0.8038 - val_loss: 0.4426
Epoch 55/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8011 - loss: 0.4147 - val_accuracy: 0.8036 - val_loss: 0.4426
Epoch 56/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8101 - loss: 0.4065 - val_accuracy: 0.8036 - val_loss: 0.4437
Epoch 57/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8048 - loss: 0.4094 - val_accuracy: 0.8023 - val_loss: 0.4411
Epoch 58/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.8095 - loss: 0.4032 - val_accuracy: 0.8020 - val_loss: 0.4414
Epoch 59/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8075 - loss: 0.4024 - val_accuracy: 0.8018 - val_loss: 0.4421
Epoch 60/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8040 - loss: 0.4057 - val_accuracy: 0.8025 - val_loss: 0.4411
Epoch 61/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8058 - loss: 0.4058 - val_accuracy: 0.8038 - val_loss: 0.4446
Epoch 62/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8045 - loss: 0.4066 - val_accuracy: 0.8033 - val_loss: 0.4401
Epoch 63/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8062 - loss: 0.4115 - val_accuracy: 0.8015 - val_loss: 0.4472
Epoch 64/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8029 - loss: 0.4068 - val_accuracy: 0.8041 - val_loss: 0.4438
Epoch 65/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.8065 - loss: 0.4075 - val_accuracy: 0.8036 - val_loss: 0.4424
Epoch 66/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8017 - loss: 0.4160 - val_accuracy: 0.8046 - val_loss: 0.4436
Epoch 67/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.8054 - loss: 0.4090 - val_accuracy: 0.8031 - val_loss: 0.4439
Epoch 68/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8011 - loss: 0.4117 - val_accuracy: 0.8023 - val_loss: 0.4460
Epoch 69/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.8016 - loss: 0.4097 - val_accuracy: 0.8036 - val_loss: 0.4424
Epoch 70/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8040 - loss: 0.4095 - val_accuracy: 0.8023 - val_loss: 0.4478
Epoch 71/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8070 - loss: 0.4050 - val_accuracy: 0.7997 - val_loss: 0.4475
Epoch 72/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8047 - loss: 0.4072 - val_accuracy: 0.8028 - val_loss: 0.4457
Epoch 73/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8053 - loss: 0.4061 - val_accuracy: 0.8025 - val_loss: 0.4437
Epoch 74/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.8041 - loss: 0.4085 - val_accuracy: 0.8023 - val_loss: 0.4462
Epoch 75/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8068 - loss: 0.4030 - val_accuracy: 0.8025 - val_loss: 0.4460
Epoch 76/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - accuracy: 0.8101 - loss: 0.4001 - val_accuracy: 0.8036 - val_loss: 0.4478
Epoch 77/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 2ms/step - accuracy: 0.8082 - loss: 0.4037 - val_accuracy: 0.8025 - val_loss: 0.4471
Epoch 78/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.8080 - loss: 0.4017 - val_accuracy: 0.8025 - val_loss: 0.4474
Epoch 79/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.8052 - loss: 0.4058 - val_accuracy: 0.8038 - val_loss: 0.4462
Epoch 80/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.8073 - loss: 0.4043 - val_accuracy: 0.8041 - val_loss: 0.4502
Epoch 81/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8074 - loss: 0.4042 - val_accuracy: 0.8038 - val_loss: 0.4532
Epoch 82/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8077 - loss: 0.4036 - val_accuracy: 0.8028 - val_loss: 0.4510
Epoch 83/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.8082 - loss: 0.4029 - val_accuracy: 0.8007 - val_loss: 0.4521
Epoch 84/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.8044 - loss: 0.4062 - val_accuracy: 0.8041 - val_loss: 0.4531
Epoch 85/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.8072 - loss: 0.4014 - val_accuracy: 0.8025 - val_loss: 0.4505
Epoch 86/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.8061 - loss: 0.4046 - val_accuracy: 0.8033 - val_loss: 0.4525
Epoch 87/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8040 - loss: 0.4050 - val_accuracy: 0.8002 - val_loss: 0.4503
Epoch 88/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8087 - loss: 0.4002 - val_accuracy: 0.8025 - val_loss: 0.4493
Epoch 89/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8060 - loss: 0.4060 - val_accuracy: 0.8044 - val_loss: 0.4520
Epoch 90/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8076 - loss: 0.4027 - val_accuracy: 0.8033 - val_loss: 0.4532
Epoch 91/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8020 - loss: 0.4077 - val_accuracy: 0.8033 - val_loss: 0.4537
Epoch 92/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 7s 8ms/step - accuracy: 0.8085 - loss: 0.4040 - val_accuracy: 0.8010 - val_loss: 0.4513
Epoch 93/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 6s 2ms/step - accuracy: 0.8048 - loss: 0.4052 - val_accuracy: 0.8025 - val_loss: 0.4595
Epoch 94/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.8071 - loss: 0.4037 - val_accuracy: 0.8015 - val_loss: 0.4569
Epoch 95/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.8038 - loss: 0.4063 - val_accuracy: 0.8025 - val_loss: 0.4526
Epoch 96/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 3ms/step - accuracy: 0.8104 - loss: 0.3996 - val_accuracy: 0.8036 - val_loss: 0.4583
Epoch 97/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8087 - loss: 0.4001 - val_accuracy: 0.8020 - val_loss: 0.4552
Epoch 98/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8019 - loss: 0.4048 - val_accuracy: 0.8012 - val_loss: 0.4565
Epoch 99/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8060 - loss: 0.3998 - val_accuracy: 0.8015 - val_loss: 0.4540
Epoch 100/100
684/684 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.8043 - loss: 0.4040 - val_accuracy: 0.8041 - val_loss: 0.4575

In [20]:
# Evaluate the model using the test data (SECOND ATTEMPT)
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 1ms/step - accuracy: 0.7886 - loss: 0.4730
Loss: 0.47299569845199585, Accuracy: 0.7885714173316956

In [21]:
# Export our model to HDF5 file
# Export our model to HDF5 file
filepath = ("AlphabetSoupCharity_Optimization.h5")
nn.save(filepath)

print("Model has been saved to AlphabetSoupCharity_Optimization.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model has been saved to AlphabetSoupCharity_Optimization.h5